@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Italic.eot');
  src: local('TTNorms SemiBold Italic'), local('../fonts/TTNorms-Italic'),
    url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Italic.woff') format('woff'),
    url('../fonts/TTNorms-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('TTNorms Bold'), local('../fonts/TTNorms-Bold'),
    url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Bold.woff') format('woff'),
    url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Light.eot');
  src: local('TTNorms Light'), local('../fonts/TTNorms-Light'),
    url('../fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Light.woff') format('woff'),
    url('../fonts/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TTNorms Regular'), local('../fonts/TTNorms-Regular'),
    url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Regular.woff') format('woff'),
    url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$black: #333333;
$purple: #5C3CFD;
$pink: #FF2A7A;
$white: #FFFFFF;
$grey: #F6F6F6;


body {
  font-family: 'TTNorms';
  font-size: 16px;
  color: $black;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.title {
  font-family: 'TTnorms';
  font-size: 32px;
}
.bg-grey {
  background-color: $grey;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

.calc {
  &-wrapper {
    background-color: $white;

  }
}